body{
    background-color: rgb(182, 206, 245);
    font-size: 20px;
}

h1{
    color: rgb(64, 59, 129);
}

h2,h3 {
    color:rgb(17, 70, 70)
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #1a6769;
    border-width: 1px;
    width: 97%;
}